# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import csv
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyBHpYIkOLUetQlK5nis5yjnaJkV3IqVvKc'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Import Weather DF (CSV)
Weather_DataFrame = pd.read_csv("My_Output_Data/Weather_DataFrame.csv")
Weather_DataFrame

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind,Country,Date
0,cape town,-33.9258,18.4232,73.99,88,75,23.02,ZA,1613070551
1,rongcheng,30.6340,117.8517,49.57,92,99,1.25,CN,1613070656
2,busselton,-33.6500,115.3333,50.00,94,0,9.64,AU,1613070656
3,atuona,-9.8000,-139.0333,78.64,75,0,11.81,PF,1613070657
4,daru,-9.0763,143.2092,77.43,88,100,9.44,PG,1613070657
...,...,...,...,...,...,...,...,...,...
539,aksarka,66.5606,67.7975,-25.85,82,49,2.24,RU,1613070737
540,kudahuvadhoo,2.6708,72.8944,81.16,76,80,13.31,MV,1613070737
541,sovetskiy,61.3614,63.5842,-20.67,87,0,3.02,RU,1613070738
542,havelock,34.8791,-76.9013,57.99,88,90,5.75,US,1613070738
543,bojnurd,37.4747,57.3290,50.00,53,0,5.53,IR,1613070738

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
Coordinates = Weather_DataFrame[["Latitude", "Longitude"]].astype(float)
Humidity_Weight = Weather_DataFrame["Humidity"].astype(float)

In [22]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(Coordinates, weights = Humidity_Weight, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
Ideal_City = Weather_DataFrame.loc[(Weather_DataFrame["Max Temp"] < 80) & (Weather_DataFrame["Max Temp"] > 70) & 
                                   (Weather_DataFrame["Wind"] < 10) & (Weather_DataFrame["Cloudiness"] == 0)]
Ideal_City

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind,Country,Date
91,gusau,12.1628,6.6614,78.51,16,0,8.23,NG,1613070671
113,loei,17.4167,101.5000,71.01,66,0,1.23,TH,1613070674
177,jiwani,25.0500,61.7417,71.29,66,0,5.14,PK,1613070684
219,aden,12.7794,45.0367,76.01,67,0,6.96,YE,1613070690
337,pisco,-13.7000,-76.2167,78.80,69,0,9.22,PE,1613070710
367,araouane,18.9048,-3.5265,78.58,13,0,9.82,ML,1613070714
382,taltal,-25.4000,-70.4833,71.10,58,0,6.87,CL,1613070715
387,adrar,20.5022,-10.0711,74.01,15,0,8.41,MR,1613070716
391,ormara,25.2088,64.6357,72.12,58,0,4.81,PK,1613070717
521,tessalit,20.1986,1.0114,76.42,14,0,8.72,ML,1613070734
527,filingue,14.3521,3.3168,79.95,13,0,6.82,NE,1613070736

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
Hotel_DF = pd.DataFrame(Ideal_City)
Hotel_DF["Hotel Name"] = ""
Hotel_DF

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind,Country,Date,Hotel Name
91,gusau,12.1628,6.6614,78.51,16,0,8.23,NG,1613070671,
113,loei,17.4167,101.5000,71.01,66,0,1.23,TH,1613070674,
177,jiwani,25.0500,61.7417,71.29,66,0,5.14,PK,1613070684,
219,aden,12.7794,45.0367,76.01,67,0,6.96,YE,1613070690,
337,pisco,-13.7000,-76.2167,78.80,69,0,9.22,PE,1613070710,
367,araouane,18.9048,-3.5265,78.58,13,0,9.82,ML,1613070714,
382,taltal,-25.4000,-70.4833,71.10,58,0,6.87,CL,1613070715,
387,adrar,20.5022,-10.0711,74.01,15,0,8.41,MR,1613070716,
391,ormara,25.2088,64.6357,72.12,58,0,4.81,PK,1613070717,
521,tessalit,20.1986,1.0114,76.42,14,0,8.72,ML,1613070734,
527,filingue,14.3521,3.3168,79.95,13,0,6.82,NE,1613070736,

In [26]:
# find the closest hotel of each type to coordinates
#Hotel_DF = conditions

#Create parameters for gmaps iteration 
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in Hotel_DF.iterrows():
    # get lat and lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location based on each lat/lng from dataframe 
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #define city variable
    city = row["City"]
    
    # create url and make API request
    print(f"Results for {'city'}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    #cities that have a hotel meeting the parameters defined will print the closest hotel
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        Hotel_DF.loc[index, 'Hotel Name'] = results[0]['name']
    #cities that do not have a hotel meeting the parameters will indicate this and skip.
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Results for city: gusau.
Closest hotel is Dr. Salisu Ibrahim.
------------
Results for city: loei.
Closest hotel is ไร่สานตม บ้านภูล้อม.
------------
Results for city: jiwani.
Closest hotel is Al Mumtaz Transport Jiwani.
------------
Results for city: aden.
Closest hotel is Sama Emirate Hotel.
------------
Results for city: pisco.
Closest hotel is Hotel San Isidro Oficial.
------------
Results for city: araouane.
Missing field/result... skipping.
------------
Results for city: taltal.
Closest hotel is Residencial Karime.
------------
Results for city: adrar.
Missing field/result... skipping.
------------
Results for city: ormara.
Closest hotel is Crystal Beach and Camping Resort Ormara.
------------
Results for city: tessalit.
Missing field/result... skipping.
------------
Results for city: filingue.
Missing field/result... skipping.
------------

In [28]:
Hotel_DF

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind,Country,Date,Hotel Name
91,gusau,12.1628,6.6614,78.51,16,0,8.23,NG,1613070671,Dr. Salisu Ibrahim
113,loei,17.4167,101.5000,71.01,66,0,1.23,TH,1613070674,ไร่สานตม บ้านภูล้อม
177,jiwani,25.0500,61.7417,71.29,66,0,5.14,PK,1613070684,Al Mumtaz Transport Jiwani
219,aden,12.7794,45.0367,76.01,67,0,6.96,YE,1613070690,Sama Emirate Hotel
337,pisco,-13.7000,-76.2167,78.80,69,0,9.22,PE,1613070710,Hotel San Isidro Oficial
367,araouane,18.9048,-3.5265,78.58,13,0,9.82,ML,1613070714,
382,taltal,-25.4000,-70.4833,71.10,58,0,6.87,CL,1613070715,Residencial Karime
387,adrar,20.5022,-10.0711,74.01,15,0,8.41,MR,1613070716,
391,ormara,25.2088,64.6357,72.12,58,0,4.81,PK,1613070717,Crystal Beach and Camping Resort Ormara
521,tessalit,20.1986,1.0114,76.42,14,0,8.72,ML,1613070734,
527,filingue,14.3521,3.3168,79.95,13,0,6.82,NE,1613070736,

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Hotel_DF.iterrows()]
locations = Hotel_DF[["Latitude", "Longitude"]]

In [30]:
# Add marker layer ontop of heat map
Marker_Layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(Marker_Layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))